In [1]:
print('hello world')

hello world

## Importing Packages

In [2]:
import datetime as dt
import asana
import pandas as pd
import json

## Python namespace and scope primer

In [ ]:
# vars([object]) -> dictionary

# Without arguments, equivalent to locals().
# With an argument, equivalent to object.__dict__.

In [ ]:
vars()['__name__'] # indexing into a dictionary's keys using, in this case, a string

In [234]:
__name__ # this variable name is assigned, but should NOT be tampered with.

'__main__'

vars() lists all variables in the global namespace. Note that the "hidden" variables (which are not protected) are written with double underscores (dunders). This allows for conditional logic in scripts based on the namespace which calls the function;

if \_\_name__ == '\_\_main__':

    #do stuff
    
    pass
    
When we run the lines below in a jupyter notebook or Python module (.py file), we are interacting with the top-level namespace. 

Using this logic when we want runtime actions allows us to both import a script, or to use it as our main script -- the lines which follow the logic check will only be executed if it is the file we have open at the time, but Not if we import the script into our namespace.

In [4]:
if __name__ == '__main__':
    #do stuff
    print('hello world')
    pass

hello world

These values are in a dictionary structure...

In [5]:
vars()['__name__']

'__main__'

In [6]:
vars(asana)['__name__'] # list all variables in the asana package namespace.

'asana'

In [7]:
import glob
glob.glob('*') # glob package is one way for us to access filepaths, list file names, etc.

['Asana Translation.ipynb', 'asana_lib.ipynb']

# Constructing a matrix in base python

In [171]:
lst = [1,2,3,4,5,6,7]
lst2 = ['a','b','c','d','e','f', 'g']
(x for x in lst)

In [172]:
list(x for x in lst)

[1, 2, 3, 4, 5, 6, 7]

In [173]:
[x for x in lst]

[1, 2, 3, 4, 5, 6, 7]

In [174]:
[x for x in lst+lst2]

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [214]:
lst2[len(lst2)-1] # this might trip you up at first. the last element is at len(lst) - 1

'g'

In [215]:
lst[:len(lst)] # 0-index-slicing; start, stop, step

[1, 2, 3, 4, 5, 6, 7]

In [201]:
lst[::-1] # axiom to reverse a list

[7, 6, 5, 4, 3, 2, 1]

In [217]:
[lst2[i-1] for i in lst]  # else indexing error...
# this is using the actual elements from lst, which go 1-7. 
# 7 is the 8th element of lst2 and would throw an index error

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [200]:
[lst2[i] for i in range(7)] # the range indexes "up to but not including" 7.

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [223]:
[[lst2[i], lst[i]] for i in range(7)] # here we're returning a list with 2 elements. again, range() operates strangely.

[['a', 1], ['b', 2], ['c', 3], ['d', 4], ['e', 5], ['f', 6], ['g', 7]]

In [229]:
lst[0]

1

In [228]:
lst2[:2] # slicing operates as [start:stop:step] where a singular value retrieves the element at that 0-indexed position
            # where a step value of -1 indicates taking 1 step backwards, but 0 and 1 both indicate taking 1 step forwards.

['a', 'b']

In [227]:
lst2[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [226]:
lst2[:2:-1] # since the stop value is positive index[2], 
            #the third element of the list, we reach up to but not including element 2 when reverse indexing.

['g', 'f', 'e', 'd']

In [203]:
lst[::3] # starts at 0, step by 3

[1, 4, 7]

In [207]:
lst[:4:-1] # reverse indexing can get tricky. since -0 makes no sense, -1 is actually at index(len(lst))

[7, 6]

In [190]:
lst3 = [[x for x in lst2] for y in lst] 
# the inner loop is what is being returned, one element for each element of lst2... 
# this is somewhat counterintuitive at first.
lst3

[['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g']]

In [146]:
lst3[6][6] # indexing starts at 0
#lst3[0][0]

'g'

In [144]:
[(a, b) for a, b in zip(lst, lst3)]
# This comprehension returns a list of tuples; 
# The first element of each tuple is an integer (from lst), and the second element of the tuple is a list (from lst3).

[(1, ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (2, ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (3, ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (4, ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (5, ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (6, ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (7, ['a', 'b', 'c', 'd', 'e', 'f', 'g'])]

In [145]:
[(a, b) for a, b in zip(lst, lst4)]
# This comprehension also returns a list of tuples; 
# The first element of each tuple is an integer, and the second element of the tuple is a string.

[(1, '1a'), (2, '2b'), (3, '3c'), (4, '4d'), (5, '5e'), (6, '6f'), (7, '7g')]

concatenation operator works for strings. str() constructor converts the type. order of variables in the comprehension matters for tuple unpacking.

In [149]:
def test(x):
    return x ** 2

In [163]:
[[test(x) for x in lst] for y in lst]

[[1, 4, 9, 16, 25, 36, 49],
 [1, 4, 9, 16, 25, 36, 49],
 [1, 4, 9, 16, 25, 36, 49],
 [1, 4, 9, 16, 25, 36, 49],
 [1, 4, 9, 16, 25, 36, 49],
 [1, 4, 9, 16, 25, 36, 49],
 [1, 4, 9, 16, 25, 36, 49]]

## Generators

List comprehension capitalize on generators. Python makes use of 'generator' objects in really a lot of places. These behave a bit strangely (at first), but hold tremendous potential:

In [164]:
enumerate(range(4))

In [165]:
list(enumerate(range(4)))

[(0, 0), (1, 1), (2, 2), (3, 3)]

`enumerate` is one type of generator. the built-in range type behaves slightly differently than other generators. 

They must be unpacked to be accessed -- either by a class constructor, as above; or using a loop.

Generators can be used as 'comprehensions', for lists or dictionaries

# list comprehensions

In [166]:
[(k,v) for k,v in zip(lst, lst2)]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g')]

In [167]:
[(k,v) for k,v in zip(lst, lst2)]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g')]

tuple unpacking (the second pair of elements) doesn't require parentheses, but the number of elements returned must match the number of lists/generators passed to zip

In [168]:
lst5 = list(zip(lst,lst2))
lst5

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g')]

# dictionary comprehension

In [169]:
{k:v for k,v in lst5}

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

zip operates as a generator which accepts two lists (or generators), and `yield`s a single list of tuples, of length equal to the shortest 'list' passed to zip.

In [67]:
list(zip(range(1, 1000), lst2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g')]

In [69]:
{k:v for k, v in zip(range(1,1000), lst2)}

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

In [10]:
for i in enumerate(range(4)):
    print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)

In [11]:
for idx, i in enumerate(range(4)):
    print(idx, '*', i)

0 * 0
1 * 1
2 * 2
3 * 3

As far as I know this does not have a limit;

In [102]:
lst4 += lst4
lst4

[(1, 'a', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (2, 'b', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (3, 'c', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (4, 'd', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (5, 'e', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (6, 'f', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (7, 'g', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (1, 'a', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (2, 'b', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (3, 'c', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (4, 'd', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (5, 'e', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (6, 'f', ['a', 'b', 'c', 'd', 'e', 'f', 'g']),
 (7, 'g', ['a', 'b', 'c', 'd', 'e', 'f', 'g'])]

In [111]:
lst4 = lst4[:7]
lst4

[]

In [95]:
lst5 = [(x, y, z) for x, y, z in (zip(lst, lst2, lst3))]

In [99]:
{k:[v, x] for k, v, x in lst5}

{1: ['a', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 2: ['b', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 3: ['c', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 4: ['d', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 5: ['e', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 6: ['f', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 7: ['g', ['a', 'b', 'c', 'd', 'e', 'f', 'g']]}

In [103]:
lst5 = [(x, y, z) for x, y, z in (zip(lst, lst2, lst3))] # returns only values which 'fill the tuples'

In [104]:
{k:[v, x] for k, v, x in lst5}

{1: ['a', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 2: ['b', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 3: ['c', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 4: ['d', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 5: ['e', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 6: ['f', ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 7: ['g', ['a', 'b', 'c', 'd', 'e', 'f', 'g']]}

Take a look at some common data `types` in the list below:

In [12]:
lst = [1,2.2,'c', list(enumerate(range(4))),{5,'f',7,'h'}, (9,'j',11), {k:v for (k, v) in enumerate(range(12))}, True]

In [13]:
(type(i) for i in lst) # this is a generator.

Typically wrapped in parentheses, a generator can also be returned by a function (by using the `yield` keyword instead of the `return` keyword). To unpack a generator, simply pass it to the appropriate `type` constructor -- which is a function (and also an object...)

In [14]:
list(type(i) for i in lst)

[int, float, str, list, set, tuple, dict, bool]

In [49]:
def gen_1():
    a = 10
    while a > 0:
        a -= 1
        yield a

In [51]:
next(gen_1())

9

In [52]:
list(gen_1())

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Class Objects, Inheritance,

if we call list(), we return an empty list. But if we call list we can see the attributes of the `class object` which accepts arguments (and thereby serves as a `class constructor`):

In [15]:
list()

[]

In [16]:
list

list

In [17]:
list.__dict__ # this is the CLASS definition of attributes. 

#Don't mess around with dunder properties unless you know what you're doing -- especially with a built-in class object.
# some notables from below: equality operators (less than, less or equal, equal, not equal, greater than, greater or eqal)
# we can also find the `class functions` that this object has access to (accessed through 'dot notation')

mappingproxy({'__repr__': <slot wrapper '__repr__' of 'list' objects>,
              '__hash__': None,
              '__getattribute__': <slot wrapper '__getattribute__' of 'list' objects>,
              '__lt__': <slot wrapper '__lt__' of 'list' objects>,
              '__le__': <slot wrapper '__le__' of 'list' objects>,
              '__eq__': <slot wrapper '__eq__' of 'list' objects>,
              '__ne__': <slot wrapper '__ne__' of 'list' objects>,
              '__gt__': <slot wrapper '__gt__' of 'list' objects>,
              '__ge__': <slot wrapper '__ge__' of 'list' objects>,
              '__iter__': <slot wrapper '__iter__' of 'list' objects>,
              '__init__': <slot wrapper '__init__' of 'list' objects>,
              '__len__': <slot wrapper '__len__' of 'list' objects>,
              '__getitem__': <method '__getitem__' of 'list' objects>,
              '__setitem__': <slot wrapper '__setitem__' of 'list' objects>,
              '__delitem__': <slot wrapper '__delitem__' of 'list' objects>,
              '__add__': <slot wrapper '__add__' of 'list' objects>,
              '__mul__': <slot wrapper '__mul__' of 'list' objects>,
              '__rmul__': <slot wrapper '__rmul__' of 'list' objects>,
              '__contains__': <slot wrapper '__contains__' of 'list' objects>,
              '__iadd__': <slot wrapper '__iadd__' of 'list' objects>,
              '__imul__': <slot wrapper '__imul__' of 'list' objects>,
              '__new__': <function list.__new__(*args, **kwargs)>,
              '__reversed__': <method '__reversed__' of 'list' objects>,
              '__sizeof__': <method '__sizeof__' of 'list' objects>,
              'clear': <method 'clear' of 'list' objects>,
              'copy': <method 'copy' of 'list' objects>,
              'append': <method 'append' of 'list' objects>,
              'insert': <method 'insert' of 'list' objects>,
              'extend': <method 'extend' of 'list' objects>,
              'pop': <method 'pop' of 'list' objects>,
              'remove': <method 'remove' of 'list' objects>,
              'index': <method 'index' of 'list' objects>,
              'count': <method 'count' of 'list' objects>,
              'reverse': <method 'reverse' of 'list' objects>,
              'sort': <method 'sort' of 'list' objects>,
              '__class_getitem__': <method '__class_getitem__' of 'list' objects>,
              '__doc__': 'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'})

To demonstrate the differences between a class object and an instance of a class object, let's use an example.

In [18]:
class RijulTest1:
    ''' triple quotes allow multi-line strings. They are also used as doc strings -- '''
    def __init__(self): # the init function is called upon assignment (the binding of a class instance to a variable)
        print('I have no arguments except self')
        self.message = 'My self.message attribute was set in the init'
        pass
    
    def test(self):
        print('When calling a class function (or method) of a bound instance of a class object, `self` is passed as the first argument')
        print(self.message)

In [19]:
vars(RijulTest1)

mappingproxy({'__module__': '__main__',
              '__doc__': ' triple quotes allow multi-line strings. They are also used as doc strings -- ',
              '__init__': <function __main__.RijulTest1.__init__(self)>,
              'test': <function __main__.RijulTest1.test(self)>,
              '__dict__': <attribute '__dict__' of 'RijulTest1' objects>,
              '__weakref__': <attribute '__weakref__' of 'RijulTest1' objects>})

In [22]:
RijulTest1 
# this class definition exists in the top-level namespace of this script; what we're typing. 
# It's indicated by the string '__main__'

__main__.RijulTest1

In [23]:
my_instance = RijulTest1() # __init__ is called at binding, which prints the message in that function.

I have no arguments except self

In [24]:
my_instance # a bound instance exists in memory

In [25]:
my_instance.message # a bound instance of a class has the attributes of the class definition from which it IS inheriting

'My self.message attribute was set in the init'

In [30]:
 RijulTest1.test()

When calling a class function (or method) of a bound instance of a class object, `self` is passed as the first argument
My self.message attribute was set in the init

In [61]:
my_instance.test() # the class function (therefore a method) test() passes `self` as the first parameter, similar to R.

When calling a class function (or method) of a bound instance of a class object, `self` is passed as the first argument
My self.message attribute was set in the init

In [31]:
 RijulTest1.test(my_instance) # we can also call the class function test and pass a bound instance of the class to call the function

When calling a class function (or method) of a bound instance of a class object, `self` is passed as the first argument
My self.message attribute was set in the init

In [32]:
my_instance.message = 'self.message has been manually altered'

In [33]:
my_instance.test()

When calling a class function (or method) of a bound instance of a class object, `self` is passed as the first argument
self.message has been manually altered

In [34]:
RijulTest1.message 
# since __init__ does not run for the actual class definition (until it is assigned a variable name),
# the class itself does not have the attribute `message`

AttributeError: type object 'RijulTest1' has no attribute 'message'

In [35]:
my_instance2 = RijulTest1()

I have no arguments except self

In [36]:
my_instance2.message

'My self.message attribute was set in the init'

In [41]:
RijulTest1.new_attribute = 'this was added to the class definition after the creation of the two instances'

In [42]:
my_instance.new_attribute

'this was added to the class definition after the creation of the two instances'

In [43]:
my_instance2.new_attribute

'this was added to the class definition after the creation of the two instances'

We can examine the attributes in a class.

In [44]:
RijulTest1.__dict__

mappingproxy({'__module__': '__main__',
              '__doc__': ' triple quotes allow multi-line strings. They are also used as doc strings -- ',
              '__init__': <function __main__.RijulTest1.__init__(self)>,
              'test': <function __main__.RijulTest1.test(self)>,
              '__dict__': <attribute '__dict__' of 'RijulTest1' objects>,
              '__weakref__': <attribute '__weakref__' of 'RijulTest1' objects>,
              'new_attribute': 'this was added to the class definition after the creation of the two instances'})

Calling the `class constructor` calls the \_\_init\_\_ method, where 'self' is the variable name passed to the call.

## Asana API

In [45]:
client = asana.Client.access_token('1/1137878878147075:1c4f308eeb3a96eed280a4ca89d2aec1')
workspaces = pd.DataFrame(client.workspaces.find_all())

In [46]:
projects = pd.DataFrame(client.projects.find_all({'workspace':workspaces.loc[0,'gid']}))

In [47]:
projects

                gid                   name resource_type
0  1137878513587348           Data Science       project
1  1199359221874309  Business Chain System       project

In [48]:
# filter dataframe..
projects[projects['name']=='Data Science']

                gid          name resource_type
0  1137878513587348  Data Science       project

In [49]:
sbr_project_sections = sections = pd.DataFrame(client.sections.find_by_project(projects[projects['name']=='Data Science'].loc[0, 'gid']))
sbr_project_sections

                gid                name resource_type
0  1137878513587350           Planning:       section
1  1137878513587360           Projects:       section
2  1138151720971849            Timeline       section
3  1137878513587361  Interview Process:       section

In [56]:
client.user_task_lists.find_by_user('me',{'workspace':workspaces.loc[0, 'gid']})

{'gid': '1137879660321714',
 'resource_type': 'user_task_list',
 'name': 'My Tasks in Data Scienctist',
 'owner': {'gid': '1137878878147075',
  'name': 'Vidharth Kate',
  'resource_type': 'user'},
 'workspace': {'gid': '1137879660321707',
  'name': 'Data Scienctist',
  'resource_type': 'workspace'},
 'migration_status': 'completed'}

In [68]:
tasks = pd.DataFrame(client.tasks.find_all({'project':projects.loc[0,'gid']}))
tasks

                 gid                                        name resource_type
0   1202495095731272                             Sample Task 123          task
1   1202495147346591                             Sample Task 123          task
2   1202490379325039                      Learn to use Nunchucks          task
3   1142949942959153                       Hacker Rank Practise           task
4   1142949942959148                            Google Analytics          task
5   1142949942935142                                     PowerBi          task
6   1142949942935141                                     Tableau          task
7   1139930058974902                         Logistic Regression          task
8   1139930058974897                                     Seaborn          task
9   1138259424919954           Create Google Analytics Dashboard          task
10  1137878513587351      Step 1: Learn SQL + DataScience Basics          task
11  1137878513587354   Step 2: Learn Python + DataScience Basics          task
12  1138259424919957                            Explore BigQuery          task
13  1138259424919955                     Crete Tableau dashboard          task
14  1138259424919956                   Create Power BI dashboard          task
15  1138151720971850                        Indexing and Hashing          task
16  1138151720971852                            Query Processing          task
17  1138151720971854                          Query Optimization          task
18  1138151720971856                                         XML          task
19  1138151720971858  Advance Querying and Information Retrieval          task
20  1138151720971860       Advance Data Type nad New Application          task
21  1138151720971862                                       NumPy          task
22  1138151720971864                                      Pandas          task
23  1138151720971866                                  Matplotlib          task
24  1138151720971883                             API Integration          task
25  1138151720971868          Python Built-In Data Visualization          task
26  1138151720971870                           Linear Regression          task
27  1138151720971872            Decision Trees and Random Forest          task
28  1138151720971874              Big Data and Spark with Python          task
29  1137878513587357             Editing Resume and Cover Letter          task
30  1137878513587358        Shortlisting companies for interview          task

In [75]:
len(tasks)

31

In [78]:
subtasks = dict()
# each task is reduced to a 'gid'
for task in tasks['gid']:
    # many tasks have no subtasks..
    # if the task has subtasks, log them in subtasks under the task gid
    if len(pd.DataFrame(client.tasks.subtasks(task))) > 0:
        subtasks[task] = pd.DataFrame(client.tasks.subtasks(task))

In [80]:
len(subtasks)

3

In [94]:
task_ids = list(subtasks.keys()) # these are the tasks which have subtasks

# dictionaries have .keys(), .values(), and .items() --> which create 'views' of the containing information.
# use a list constructor to materialize them

In [95]:
subtasks[task_ids[0]]

                gid                  name resource_type
0  1202490968141513  This is the sub task          task

In [144]:
#client.tasks.update_task('1202490379325039',{'custom_fields':{'1202488848507240':'1202488848507244'}})

custom_fields = dict()
for task in tasks['gid'][:1]: # only the first task... they all have same custom fields?
#     print(client.tasks.find_by_project(task))
#     print(client.tasks.update_task(task))
    json_payload = client.tasks.update_task(task)
    #print(json_payload['custom_fields'])
    print(json_payload['name'])
    print('*' * 8)
    print('previously created custom fields:')
    [print(x['name']) for x in json_payload['custom_fields']]
    print('*'*8)
    for c_field in json_payload['custom_fields']:
        #print(len(c_field))
        print(f"current selected custom field for {c_field['name']}: {c_field['enum_value']}")
        print(f"custom_field options for {c_field['name']}: {[x['name'] for x in c_field['enum_options']]}")

        # a list comprehension:
        # for each element in the list of dictionaries, index into the dictionary for the 'name' variable and print it.

Sample Task 123
********
previously created custom fields:
Priority
PA
********
current selected custom field for Priority: None
custom_field options for Priority: ['High', 'Medium', 'Low']
current selected custom field for PA: None
custom_field options for PA: ['Vidharth1', 'Vidharth 2', 'Vidharth 3', 'Vidharth 4']

## Datetime Logic in Python

In [50]:
start_date = dt.datetime(2022, 1, 1)

In [51]:
start_date.month

1

In [52]:
start_date + dt.timedelta(days=7)

datetime.datetime(2022, 1, 8, 0, 0)

In [53]:
week_start_1 = dt.datetime(2022, 1, 1)
week_start_2 = week_start_1 + dt.timedelta(days=7)
week_start_3 = week_start_1 + dt.timedelta(days=14)
week_start_4 = week_start_1 + dt.timedelta(days=21)
week_start_5 = week_start_1 + dt.timedelta(days=28)

start_dates = [week_start_1,week_start_2,week_start_3,week_start_4,week_start_5]

start_dates

[datetime.datetime(2022, 1, 1, 0, 0),
 datetime.datetime(2022, 1, 8, 0, 0),
 datetime.datetime(2022, 1, 15, 0, 0),
 datetime.datetime(2022, 1, 22, 0, 0),
 datetime.datetime(2022, 1, 29, 0, 0)]

# Constructing a dataframe

In [17]:
# define PA lists 
MPA_Rijul = [
  "Ryan Ho",
  "Samuel Nguyen",
  "Achidi Kisob",
  "Annika Kao",
  "Gourav Kadian",
#  "Suzanne Ma",
 # "Jasmine Nguyen",
  "Jason Ho",
  "Ula Sobieraj (UK)",
  "Nick Assuras",
  "Isfandyar Virani",
  "Komal Bhuvanagiri"]

MPA_Jess = [
  "Angela Ye",
  "Vincent Wong",
  "Wendy Qian",
  "Kevin Liu",
 # "Nicky Wu",
#  "Nikita Borisov",
  "Kexin Wang",
  "Mo Heshmat",
  "Rickey Chan",
  "Ijlal Amir",
  "James Scott",
  "Andy Jeong"]

In [230]:
# inter-leave the lists. im sure there's a better way to do this

# .append() **modifies the list without assignment**
lst = []
for i in range(max(len(MPA_Rijul), len(MPA_Jess))):
    lst.append(MPA_Rijul[i])
    lst.append(MPA_Jess[i])
lst

NameError: name 'MPA_Rijul' is not defined

In [50]:
import pandas as pd

df = pd.DataFrame(columns=['Week 1', 'Week 2'], 
                 index = lst)

In [53]:
df

                                 Week 1                       Week 2
Ryan Ho            Reserved for Spencer  Reserved for Spencer Week 2
Angela Ye                           NaN                          NaN
Samuel Nguyen      Reserved for Spencer  Reserved for Spencer Week 2
Vincent Wong                        NaN                          NaN
Achidi Kisob       Reserved for Spencer  Reserved for Spencer Week 2
Wendy Qian                          NaN                          NaN
Annika Kao         Reserved for Spencer  Reserved for Spencer Week 2
Kevin Liu                           NaN                          NaN
Gourav Kadian      Reserved for Spencer  Reserved for Spencer Week 2
Kexin Wang                          NaN                          NaN
Jason Ho           Reserved for Spencer  Reserved for Spencer Week 2
Mo Heshmat                          NaN                          NaN
Ula Sobieraj (UK)  Reserved for Spencer  Reserved for Spencer Week 2
Rickey Chan                         NaN                          NaN
Nick Assuras       Reserved for Spencer  Reserved for Spencer Week 2
Ijlal Amir                          NaN                          NaN
Isfandyar Virani   Reserved for Spencer  Reserved for Spencer Week 2
James Scott                         NaN                          NaN
Komal Bhuvanagiri  Reserved for Spencer  Reserved for Spencer Week 2
Andy Jeong                          NaN                          NaN

In [56]:
for idx, i in enumerate(df.iterrows()):
    if idx%2==0:
        #print('evens for spencer')
        df.loc[i[0], 'Week 1'] = 'Reserved for Spencer'
        df.loc[i[0], 'Week 2'] = 'Reserved for Spencer Week 2'
    else:
        #print('odds for lu?')
        df.loc[i[0], 'Week 1'] = 'Reserved for Lu'
        df.loc[i[0], 'Week 2'] = 'Reserved for Lu Week 2'
        
df

                                 Week 1                       Week 2
Ryan Ho            Reserved for Spencer  Reserved for Spencer Week 2
Angela Ye               Reserved for Lu       Reserved for Lu Week 2
Samuel Nguyen      Reserved for Spencer  Reserved for Spencer Week 2
Vincent Wong            Reserved for Lu       Reserved for Lu Week 2
Achidi Kisob       Reserved for Spencer  Reserved for Spencer Week 2
Wendy Qian              Reserved for Lu       Reserved for Lu Week 2
Annika Kao         Reserved for Spencer  Reserved for Spencer Week 2
Kevin Liu               Reserved for Lu       Reserved for Lu Week 2
Gourav Kadian      Reserved for Spencer  Reserved for Spencer Week 2
Kexin Wang              Reserved for Lu       Reserved for Lu Week 2
Jason Ho           Reserved for Spencer  Reserved for Spencer Week 2
Mo Heshmat              Reserved for Lu       Reserved for Lu Week 2
Ula Sobieraj (UK)  Reserved for Spencer  Reserved for Spencer Week 2
Rickey Chan             Reserved for Lu       Reserved for Lu Week 2
Nick Assuras       Reserved for Spencer  Reserved for Spencer Week 2
Ijlal Amir              Reserved for Lu       Reserved for Lu Week 2
Isfandyar Virani   Reserved for Spencer  Reserved for Spencer Week 2
James Scott             Reserved for Lu       Reserved for Lu Week 2
Komal Bhuvanagiri  Reserved for Spencer  Reserved for Spencer Week 2
Andy Jeong              Reserved for Lu       Reserved for Lu Week 2

# R Code

In [ ]:
# line 83 -- how many PA's are available (#'open' tasks to be created?)
available_PAs = len(MPA_Rijul) + len(MPA_Jess)
task_names = pd.Dataframe(columns=['Week 1', 'Week 2'])



for i in available_PAs:
# even or odd? 
    if i % 2 == 0: 
        am_lead = 'Spencer'
    else:
	am_lead = 'Lu'
    assignee = available_PAs.pop(0) 
# pop the next available PA? could interweave the PA list to fit this idea.
# this iteration method is dependent on the numbers of PAs available being more for Rijul than for Jess(?)
# append week 1 and week 2 tasks for the appropriate PA and AM team lead.
    week1 = f'- Open for {team_lead}'
    weeek2 = f'- Open for {team_lead} - Week 2'
    task_names.loc[i, 'Week 1'] = week1
    task_names.loc[i, 'Week 2'] = week2

# Line 97 -- post-quarter reports? 
# if there are 3 days of the week in month x and only 2 in month y, month x takes precedence. 
# take start date, add 2 days (if it was monday, this would make it wednesday -- if it was tuesday, this would make it thursday)

# dt.datetime.month(start_date)
if dt.month(start_date)(?) in [1,4,7,10]:
    task_names = 'OPEN'

# Line 100
# if the week is a start week.. paste the tuples of PA's and task values (either Lu or Spencer availabity) as a column in the dataframe, task_names?

# Line 107
#getting subtasks from a sample SBR task
sbr_subtasks <- asana::asn_tasks_subtasks(project= project_id, task = 1201553895976477) 
# does this generate the task on asana itself, or simply hold the json object in our memory?
k=1
for (k in 1:n_tasks ) {
create_task <- asana::asn_tasks_create(projects=project_id, 
                                       name= task_names[k,1],
                                       start_on = start_date,
                                       due_on = end_date
                                       )
# this looping to index back into dataframe would be better accomplished by simply generating some tuples -- PA Name, AM Team Lead?

#Step 2: Adding Subtasks
task_id<-create_task$content$data[[1]]


# line 124 -- seemingly incomplete loop? we're looping to create a due date and a chat date, but not using it when we call
asana.asn_tasks_add_substask(task=task_id, name=sbr_subtasks$name[i])

# line 133 -- add additional subtasks to the task for each available PA
asn_tasks_add_subtask(task = task_id, name = "PA > Add Mapping File to Google Drive" , due_on = start_date)
asn_tasks_add_subtask(task = task_id, name = "AM > PPT Online Link" , due_on = start_date)
asn_tasks_add_subtask(task = task_id, name = "PA > Data Pull" , due_on = start_date)
asn_tasks_add_subtask(task = task_id, name = "PA > Initiate Slack Chat" , due_on = initiate_chat_date)
asn_tasks_add_subtask(task = task_id, name = "AM > Confirm SBR with Client", due_on = due_date)

In [ ]:
# load modules
import sys
import datetime as dt
import numpy as np
import pandas as pd
import asana
import SQL CONNECTOR (yet to be found)

# line 19 get username (sysname)
sysname = sys.info()[7] 
{LOAD AUTHENTICATION TOKEN INTO GLOBAL NAMESPACE}


# line 22 identifying json objects
all_workspaces = asana.asn_workspaces_find_all()
all_projects = asana.asn_projects_find_all()

project_id = all_projects['name']['SBR Plan'][1](? the project_id field)
all_sections = asana.asn_sections_find_by_project(project=project_id)

# line 29 - find Open section where tasks need to be created
section_id = all_sections['all_sections']['Open'][1] (? the 'Open' section {section_id})
# generate week datetime objects (mondays)

# line 36 set start date and end date
start_date  = week_start_2
end_date = week_start_2 + dt.datetime...4 days