In [1]:
print('hello world')

hello world

## Importing Packages

In [2]:
import datetime as dt
import asana
import pandas as pd
import json

## Python namespace and scope primer

In [3]:
#vars()

vars() lists all variables in the global namespace. Note that the "hidden" variables are written with double underscores (dunders). This allows for conditional logic in scripts based on the namespace which calls the function;

if \_\_name__ == '\_\_main__':

    #do stuff
    
    pass
    
When we run the lines above in a jupyter notebook or Python module (.py file), we are interacting with the top-level namespace(?). This logic allows us to both import a script, or to use it as our main script -- the lines which follow the logic check will only be executed if it is the file we have open at the time, but Not if we import the script into our namespace.

In [4]:
if __name__ == '__main__':
    #do stuff
    print('hello world')
    pass

hello world

These values are in a dictionary structure...

In [9]:
vars()['__name__']

'__main__'

In [10]:
vars(asana)['__name__'] # list all variables in the asana package namespace.

'asana'

In [12]:
import glob
glob.glob('*') # glob package is one way for us to access filepaths, list file names, etc.

['Asana Translation.ipynb', 'samples']

Python makes use of 'generator' objects in some circumstances. These behave a bit strangely (at first), but hold tremendous potential:

In [13]:
enumerate(range(4))

In [14]:
list(enumerate(range(4)))

[(0, 0), (1, 1), (2, 2), (3, 3)]

`enumerate` is one type of generator. Generators can be used as 'comprehensions', for lists or dictionaries. They must be unpacked to be accessed -- either by a class constructor, as above; or using a loop.

In [15]:
for i in enumerate(range(4)):
    print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)

In [17]:
for idx, i in enumerate(range(4)):
    print(idx, '*', i)

0 * 0
1 * 1
2 * 2
3 * 3

Take a look at some common data `types` in the list below:

In [18]:
lst = [1,2.2,'c', list(enumerate(range(4))),{5,'f',7,'h'}, (9,'j',11), {k:v for (k, v) in enumerate(range(12))}, True]

In [19]:
(type(i) for i in lst) # this is a generator.

Typically wrapped in parentheses, a generator can also be returned by a function (by using the `yield` keyword instead of the `return` keyword). To unpack a generator, simply pass it to the appropriate `type` constructor -- which is a function (and also an object...)

In [93]:
list(type(i) for i in lst)

[int, float, str, list, set, tuple, dict, bool]

if we call list(), we return an empty list. But if we call list we can see the attributes of the `class object` which accepts arguments (and thereby serves as a `class constructor`):

In [71]:
list()

[]

In [98]:
list

list

In [95]:
list.__dict__ # this is the CLASS definition of attributes. 

#Don't mess around with dunder properties unless you know what you're doing -- especially with a built-in class object.
# some notables from below: equality operators (less than, less or equal, equal, not equal, greater than, greater or eqal)
# we can also find the `class functions` that this object has access to (accessed through 'dot notation')

mappingproxy({'__repr__': <slot wrapper '__repr__' of 'list' objects>,
              '__hash__': None,
              '__getattribute__': <slot wrapper '__getattribute__' of 'list' objects>,
              '__lt__': <slot wrapper '__lt__' of 'list' objects>,
              '__le__': <slot wrapper '__le__' of 'list' objects>,
              '__eq__': <slot wrapper '__eq__' of 'list' objects>,
              '__ne__': <slot wrapper '__ne__' of 'list' objects>,
              '__gt__': <slot wrapper '__gt__' of 'list' objects>,
              '__ge__': <slot wrapper '__ge__' of 'list' objects>,
              '__iter__': <slot wrapper '__iter__' of 'list' objects>,
              '__init__': <slot wrapper '__init__' of 'list' objects>,
              '__len__': <slot wrapper '__len__' of 'list' objects>,
              '__getitem__': <method '__getitem__' of 'list' objects>,
              '__setitem__': <slot wrapper '__setitem__' of 'list' objects>,
              '__delitem__': <slot wrapper '__delitem__' of 'list' objects>,
              '__add__': <slot wrapper '__add__' of 'list' objects>,
              '__mul__': <slot wrapper '__mul__' of 'list' objects>,
              '__rmul__': <slot wrapper '__rmul__' of 'list' objects>,
              '__contains__': <slot wrapper '__contains__' of 'list' objects>,
              '__iadd__': <slot wrapper '__iadd__' of 'list' objects>,
              '__imul__': <slot wrapper '__imul__' of 'list' objects>,
              '__new__': <function list.__new__(*args, **kwargs)>,
              '__reversed__': <method '__reversed__' of 'list' objects>,
              '__sizeof__': <method '__sizeof__' of 'list' objects>,
              'clear': <method 'clear' of 'list' objects>,
              'copy': <method 'copy' of 'list' objects>,
              'append': <method 'append' of 'list' objects>,
              'insert': <method 'insert' of 'list' objects>,
              'extend': <method 'extend' of 'list' objects>,
              'pop': <method 'pop' of 'list' objects>,
              'remove': <method 'remove' of 'list' objects>,
              'index': <method 'index' of 'list' objects>,
              'count': <method 'count' of 'list' objects>,
              'reverse': <method 'reverse' of 'list' objects>,
              'sort': <method 'sort' of 'list' objects>,
              '__class_getitem__': <method '__class_getitem__' of 'list' objects>,
              '__doc__': 'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'})

To demonstrate the differences between a class object and an instance of a class object, let's use an example.

In [57]:
class RijulTest1:
    ''' triple quotes allow multi-line strings. They are also used as doc strings -- '''
    def __init__(self): # the init function is called upon assignment (the binding of a class instance to a variable)
        print('I have no arguments except self')
        self.message = 'My self.message attribute was set in the init'
        pass
    
    def test(self):
        print('When calling a class function (or method) of a bound instance of a class object, `self` is passed as the first argument')
        print(self.message)

In [58]:
my_instance = RijulTest1()

I have no arguments except self

In [59]:
my_instance

In [60]:
my_instance.message

'My self.message attribute was set in the init'

In [61]:
my_instance.test()

When calling a class function (or method) of a bound instance of a class object, `self` is passed as the first argument
My self.message attribute was set in the init

In [62]:
my_instance.message = 'self.message has been manually altered'

In [63]:
my_instance.test()

When calling a class function (or method) of a bound instance of a class object, `self` is passed as the first argument
self.message has been manually altered

In [64]:
RijulTest1.message 

# since __init__ does not run for the actual class definition (until it is assigned a variable name),
# the class itself does not have the attribute `message`

AttributeError: type object 'RijulTest1' has no attribute 'message'

In [65]:
my_instance2 = RijulTest1()

I have no arguments except self

In [66]:
my_instance2.message

'My self.message attribute was set in the init'

We can examine the attributes in a class.

In [67]:
RijulTest1.__dict__

mappingproxy({'__module__': '__main__',
              '__doc__': ' triple quotes allow multi-line strings. They are also used as doc strings -- ',
              '__init__': <function __main__.RijulTest1.__init__(self)>,
              'test': <function __main__.RijulTest1.test(self)>,
              '__dict__': <attribute '__dict__' of 'RijulTest1' objects>,
              '__weakref__': <attribute '__weakref__' of 'RijulTest1' objects>})

Calling the `class constructor` calls the \_\_init\_\_ method, where 'self' is the variable name passed to the call.

## Asana API

In [ ]:
client = asana.Client.access_token('1/1137878878147075:1c4f308eeb3a96eed280a4ca89d2aec1')
workspaces = pd.DataFrame(client.workspaces.find_all())

In [19]:
projects = pd.DataFrame(client.projects.find_all({'workspace':workspaces.loc[0,'gid']}))

In [20]:
projects

                gid                   name resource_type
0  1137878513587348           Data Science       project
1  1199359221874309  Business Chain System       project

In [22]:
# filter dataframe..
projects[projects['name']=='Data Science']

                gid          name resource_type
0  1137878513587348  Data Science       project

In [26]:
sbr_project_sections = sections = pd.DataFrame(client.sections.find_by_project(projects[projects['name']=='Data Science'].loc[0, 'gid']))
sbr_project_sections

                gid                name resource_type
0  1137878513587350           Planning:       section
1  1137878513587360           Projects:       section
2  1138151720971849            Timeline       section
3  1137878513587361  Interview Process:       section

In [4]:
start_date = dt.datetime(2022, 1, 1)

In [8]:
start_date.month

1

In [16]:
start_date + dt.timedelta(days=7)

datetime.datetime(2022, 1, 8, 0, 0)

In [58]:
week_start_1 = dt.datetime(2022, 1, 1)
week_start_2 = week_start_1 + dt.timedelta(days=7)
week_start_3 = week_start_1 + dt.timedelta(days=14)
week_start_4 = week_start_1 + dt.timedelta(days=21)
week_start_5 = week_start_1 + dt.timedelta(days=28)

start_dates = [week_start_1,week_start_2,week_start_3,week_start_4,week_start_5]

start_dates

In [17]:
# define PA lists 
MPA_Rijul = [
  "Ryan Ho",
  "Samuel Nguyen",
  "Achidi Kisob",
  "Annika Kao",
  "Gourav Kadian",
#  "Suzanne Ma",
 # "Jasmine Nguyen",
  "Jason Ho",
  "Ula Sobieraj (UK)",
  "Nick Assuras",
  "Isfandyar Virani",
  "Komal Bhuvanagiri"]

MPA_Jess = [
  "Angela Ye",
  "Vincent Wong",
  "Wendy Qian",
  "Kevin Liu",
 # "Nicky Wu",
#  "Nikita Borisov",
  "Kexin Wang",
  "Mo Heshmat",
  "Rickey Chan",
  "Ijlal Amir",
  "James Scott",
  "Andy Jeong"]

In [19]:
len(MPA_Rijul) + len(MPA_Jess)

20

In [34]:
# inter-leave the lists. im sure there's a better way to do this
lst = []
for i in range(max(len(MPA_Rijul), len(MPA_Jess))):
    lst.append(MPA_Rijul[i])
    lst.append(MPA_Jess[i])

In [50]:
import pandas as pd

df = pd.DataFrame(columns=['Week 1', 'Week 2'], 
                 index = lst)

In [53]:
df

                                 Week 1                       Week 2
Ryan Ho            Reserved for Spencer  Reserved for Spencer Week 2
Angela Ye                           NaN                          NaN
Samuel Nguyen      Reserved for Spencer  Reserved for Spencer Week 2
Vincent Wong                        NaN                          NaN
Achidi Kisob       Reserved for Spencer  Reserved for Spencer Week 2
Wendy Qian                          NaN                          NaN
Annika Kao         Reserved for Spencer  Reserved for Spencer Week 2
Kevin Liu                           NaN                          NaN
Gourav Kadian      Reserved for Spencer  Reserved for Spencer Week 2
Kexin Wang                          NaN                          NaN
Jason Ho           Reserved for Spencer  Reserved for Spencer Week 2
Mo Heshmat                          NaN                          NaN
Ula Sobieraj (UK)  Reserved for Spencer  Reserved for Spencer Week 2
Rickey Chan                         NaN                          NaN
Nick Assuras       Reserved for Spencer  Reserved for Spencer Week 2
Ijlal Amir                          NaN                          NaN
Isfandyar Virani   Reserved for Spencer  Reserved for Spencer Week 2
James Scott                         NaN                          NaN
Komal Bhuvanagiri  Reserved for Spencer  Reserved for Spencer Week 2
Andy Jeong                          NaN                          NaN

In [56]:
for idx, i in enumerate(df.iterrows()):
    if idx%2==0:
        #print('evens for spencer')
        df.loc[i[0], 'Week 1'] = 'Reserved for Spencer'
        df.loc[i[0], 'Week 2'] = 'Reserved for Spencer Week 2'
    else:
        #print('odds for lu?')
        df.loc[i[0], 'Week 1'] = 'Reserved for Lu'
        df.loc[i[0], 'Week 2'] = 'Reserved for Lu Week 2'
        
df

                                 Week 1                       Week 2
Ryan Ho            Reserved for Spencer  Reserved for Spencer Week 2
Angela Ye               Reserved for Lu       Reserved for Lu Week 2
Samuel Nguyen      Reserved for Spencer  Reserved for Spencer Week 2
Vincent Wong            Reserved for Lu       Reserved for Lu Week 2
Achidi Kisob       Reserved for Spencer  Reserved for Spencer Week 2
Wendy Qian              Reserved for Lu       Reserved for Lu Week 2
Annika Kao         Reserved for Spencer  Reserved for Spencer Week 2
Kevin Liu               Reserved for Lu       Reserved for Lu Week 2
Gourav Kadian      Reserved for Spencer  Reserved for Spencer Week 2
Kexin Wang              Reserved for Lu       Reserved for Lu Week 2
Jason Ho           Reserved for Spencer  Reserved for Spencer Week 2
Mo Heshmat              Reserved for Lu       Reserved for Lu Week 2
Ula Sobieraj (UK)  Reserved for Spencer  Reserved for Spencer Week 2
Rickey Chan             Reserved for Lu       Reserved for Lu Week 2
Nick Assuras       Reserved for Spencer  Reserved for Spencer Week 2
Ijlal Amir              Reserved for Lu       Reserved for Lu Week 2
Isfandyar Virani   Reserved for Spencer  Reserved for Spencer Week 2
James Scott             Reserved for Lu       Reserved for Lu Week 2
Komal Bhuvanagiri  Reserved for Spencer  Reserved for Spencer Week 2
Andy Jeong              Reserved for Lu       Reserved for Lu Week 2

# R Code

In [ ]:
# line 83 -- how many PA's are available (#'open' tasks to be created?)
available_PAs = len(MPA_Rijul) + len(MPA_Jess)
task_names = pd.Dataframe(columns=['Week 1', 'Week 2'])



for i in available_PAs:
# even or odd? 
    if i % 2 == 0: 
        am_lead = 'Spencer'
    else:
	am_lead = 'Lu'
    assignee = available_PAs.pop(0) 
# pop the next available PA? could interweave the PA list to fit this idea.
# this iteration method is dependent on the numbers of PAs available being more for Rijul than for Jess(?)
# append week 1 and week 2 tasks for the appropriate PA and AM team lead.
    week1 = f'- Open for {team_lead}'
    weeek2 = f'- Open for {team_lead} - Week 2'
    task_names.loc[i, 'Week 1'] = week1
    task_names.loc[i, 'Week 2'] = week2

# Line 97 -- post-quarter reports? 
# if there are 3 days of the week in month x and only 2 in month y, month x takes precedence. 
# take start date, add 2 days (if it was monday, this would make it wednesday -- if it was tuesday, this would make it thursday)

# dt.datetime.month(start_date)
if dt.month(start_date)(?) in [1,4,7,10]:
    task_names = 'OPEN'

# Line 100
# if the week is a start week.. paste the tuples of PA's and task values (either Lu or Spencer availabity) as a column in the dataframe, task_names?

# Line 107
#getting subtasks from a sample SBR task
sbr_subtasks <- asana::asn_tasks_subtasks(project= project_id, task = 1201553895976477) 
# does this generate the task on asana itself, or simply hold the json object in our memory?
k=1
for (k in 1:n_tasks ) {
create_task <- asana::asn_tasks_create(projects=project_id, 
                                       name= task_names[k,1],
                                       start_on = start_date,
                                       due_on = end_date
                                       )
# this looping to index back into dataframe would be better accomplished by simply generating some tuples -- PA Name, AM Team Lead?

#Step 2: Adding Subtasks
task_id<-create_task$content$data[[1]]


# line 124 -- seemingly incomplete loop? we're looping to create a due date and a chat date, but not using it when we call
asana.asn_tasks_add_substask(task=task_id, name=sbr_subtasks$name[i])

# line 133 -- add additional subtasks to the task for each available PA
asn_tasks_add_subtask(task = task_id, name = "PA > Add Mapping File to Google Drive" , due_on = start_date)
asn_tasks_add_subtask(task = task_id, name = "AM > PPT Online Link" , due_on = start_date)
asn_tasks_add_subtask(task = task_id, name = "PA > Data Pull" , due_on = start_date)
asn_tasks_add_subtask(task = task_id, name = "PA > Initiate Slack Chat" , due_on = initiate_chat_date)
asn_tasks_add_subtask(task = task_id, name = "AM > Confirm SBR with Client", due_on = due_date)

In [ ]:
# load modules
import sys
import datetime as dt
import numpy as np
import pandas as pd
import asana
import SQL CONNECTOR (yet to be found)

# line 19 get username (sysname)
sysname = sys.info()[7] 
{LOAD AUTHENTICATION TOKEN INTO GLOBAL NAMESPACE}


# line 22 identifying json objects
all_workspaces = asana.asn_workspaces_find_all()
all_projects = asana.asn_projects_find_all()

project_id = all_projects['name']['SBR Plan'][1](? the project_id field)
all_sections = asana.asn_sections_find_by_project(project=project_id)

# line 29 - find Open section where tasks need to be created
section_id = all_sections['all_sections']['Open'][1] (? the 'Open' section {section_id})
# generate week datetime objects (mondays)

# line 36 set start date and end date
start_date  = week_start_2
end_date = week_start_2 + dt.datetime...4 days